Εργασία στο scikit-learn Μηχανική Μάθηση ΕΔΕΜ^2

Dataset: hepatitis.data

In [148]:
# Import the dataset with pandas

import pandas as pd
hepat_data = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/hepatitis/hepatitis.data", header = None)

In [149]:
hepat_data = pd.DataFrame(hepat_data)
hepat_data.describe()    
#hepat_data.head(15)

               0           1           2           4           19
count  155.000000  155.000000  155.000000  155.000000  155.000000
mean     1.793548   41.200000    1.103226    1.845161    1.451613
std      0.406070   12.565878    0.305240    0.362923    0.499266
min      1.000000    7.000000    1.000000    1.000000    1.000000
25%      2.000000   32.000000    1.000000    2.000000    1.000000
50%      2.000000   39.000000    1.000000    2.000000    1.000000
75%      2.000000   50.000000    1.000000    2.000000    2.000000
max      2.000000   78.000000    2.000000    2.000000    2.000000

In [150]:
hepat_data.keys

<bound method NDFrame.keys of      0   1   2  3   4  5  6  7  8  9  10 11 12 13    14   15   16   17  18  19
0     2  30   2  1   2  2  2  2  1  2  2  2  2  2  1.00   85   18  4.0   ?   1
1     2  50   1  1   2  1  2  2  1  2  2  2  2  2  0.90  135   42  3.5   ?   1
2     2  78   1  2   2  1  2  2  2  2  2  2  2  2  0.70   96   32  4.0   ?   1
3     2  31   1  ?   1  2  2  2  2  2  2  2  2  2  0.70   46   52  4.0  80   1
4     2  34   1  2   2  2  2  2  2  2  2  2  2  2  1.00    ?  200  4.0   ?   1
..   ..  ..  .. ..  .. .. .. .. .. .. .. .. .. ..   ...  ...  ...  ...  ..  ..
150   1  46   1  2   2  1  1  1  2  2  2  1  1  1  7.60    ?  242  3.3  50   2
151   2  44   1  2   2  1  2  2  2  1  2  2  2  2  0.90  126  142  4.3   ?   2
152   2  61   1  1   2  1  1  2  1  1  2  1  2  2  0.80   75   20  4.1   ?   2
153   2  53   2  1   2  1  2  2  2  2  1  1  2  1  1.50   81   19  4.1  48   2
154   1  43   1  2   2  1  2  2  2  2  1  1  1  2  1.20  100   19  3.1  42   2

[155 rows x 20 columns]>

In [151]:
headers = ['class', 'age', 'sex', 'steroid', 'antirivals', 'fatigue', 'malaise', 'anorexia', 'liver_big', 'liver_firm',
           'spleen_palpable', 'spiders', 'ascites', 'varices', 'bilirubin', 'alk_phospate','sgot', 'albumin', 'protime',
           'histology']
hepat_data.columns = headers

In [152]:
hepat_data.head()

,class,age,sex,steroid,antirivals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phospate,sgot,albumin,protime,histology
0,2,30,2,1,2,2,2,2,1,2,2,2,2,2,1.00,85,18,4.0,?,1
1,2,50,1,1,2,1,2,2,1,2,2,2,2,2,0.90,135,42,3.5,?,1
2,2,78,1,2,2,1,2,2,2,2,2,2,2,2,0.70,96,32,4.0,?,1
3,2,31,1,?,1,2,2,2,2,2,2,2,2,2,0.70,46,52,4.0,80,1
4,2,34,1,2,2,2,2,2,2,2,2,2,2,2,1.00,?,200,4.0,?,1

In [153]:
hepat_data.columns.values

array(['class', 'age', 'sex', 'steroid', 'antirivals', 'fatigue',
       'malaise', 'anorexia', 'liver_big', 'liver_firm',
       'spleen_palpable', 'spiders', 'ascites', 'varices', 'bilirubin',
       'alk_phospate', 'sgot', 'albumin', 'protime', 'histology'],
      dtype=object)

In [154]:
     
X = hepat_data
y = pd.DataFrame(hepat_data['class'])

In [155]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size = 0.3)

In [156]:
import numpy as np
X_train = pd.DataFrame.replace(X_train, to_replace='?', value= np.nan)

from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_train.columns = X_train.columns

In [157]:
y_train = y_train.values.ravel()
#y_train = y_train.reshape(-1, 1)
from sklearn.neighbors import KNeighborsClassifier
test_model = KNeighborsClassifier(n_neighbors=1)
test_model.fit(imputed_X_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [168]:
#y_test = y_test.values.ravel()
#y_test = y_test.reshape(-1, 1)
X_test = pd.DataFrame.replace(X_test, to_replace='?', value= np.nan)
imputed_X_test = pd.DataFrame(my_imputer.transform(X_test))
imputed_X_test.columns = X_test.columns
val_pred = test_model.predict(imputed_X_test)

In [169]:
#print(y_train.shape)

#print(y_test.shape)

#print (imputed_X_train.shape)

#print (X_test.shape)